.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:sounds, :index)
      %li=link_to pat(:new), url(:sounds, :new)
      %li.active=link_to pat(:edit), url(:sounds, :edit, :id => @sound.id)
  .content
    %h2.title
      =pat(:edit)
      =mt(:sound)
    .inner
      -form_for :sound, url(:sounds, :update, :id => @sound.id), :method => :put, :class => :form do |f|
        =partial "sounds/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")
