
body {
	background-color: #e9e9e9;
}

.container{
	background-color: #fff;
	width: 990px;
	padding: 18px;
}

.personalSpan10{
	height: 970px;
}

.personalSpan12{
	height: 100px;
}

.panelcontrol{
	margin-left: 0px;
	border:1px solid black;
	margin-top: 2px;
}


.CuadroM{
	float:left;
	height: 50px;
	width: 50px;
	margin-bottom: 25px;
	margin-top: 25px;
}
.GrupoCuadroM{
	float:left;
	height: 200px;
	width: 200px;
	margin-right: 25px;
	margin-left: 25px;
}
.CuadroI{
	float:left;
	height: auto;
	width: 80px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.mutesolo{
	float:left;
	height: auto;
	width: 37px;
	border: 1px solid #c3c3c3;
	text-align: center;
	margin-right: 1px;
}

.elementoCuadro{
	float: left;
}

.track-content {
	max-width: 996px;
	border-bottom: 3px solid #c3c3c3;
}

.elementoCuadro input{
	margin-left: 2px;
	margin-right: 3px;
	margin-bottom: 6px;
}


.elementoCuadro a{
	margin-top: 5px;
}


.elementoCuadro input{
	min-width: 1px;
	width: 42px;


}

/*Quitar las dos siguientes clases*/
.borde{
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0 0 5px 5px #888;
}
	

.Circulo{
	float:left;
	height: 30px;
	width: 30px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-top: 27px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	border:solid;
}

#tempo {
	margin-left: 0px;
}

#tempo .Circulo {
	float: left;
	height: 9px;
	width: 20px;
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 10px;
	margin-top: 13px;

/*	
	float:left;
	height: 12px;
	width: 32px;
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 10px;
	margin-top: 10px;
*/
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border:solid;
}

.Circulo.tempo {
	background: #0F0;
}

.Circulo.true {
	background: #005580;
}

.rowdisable {
opacity: 0.2;
-moz-opacity: 0.2;
filter: alpha(opacity=20);
-khtml-opacity: 0.2;
}

#TempoControl{
	float: left;
	height: auto;
	width: 150px;
	border:1px solid black;
}

#TempoControl input{
	width: 70px;
}

#Sample{
	float: left;
	height: auto;
	width: 500px;
	border:1px solid black;

}