
.personalSpan10{
	height: 970px;
}

.personalSpan12{
	height: 100px;
}

.CuadroM{
	float:left;
	height: 50px;
	width: 50px;
	margin-bottom: 25px;
	margin-top: 25px;
}
.GrupoCuadroM{
	float:left;
	height: 200px;
	width: 200px;
	margin-right: 25px;
	margin-left: 25px;
}
.CuadroI{
	float:left;
	height: 50px;
	width: 50px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}
/*Quitar las dos siguientes clases*/
.borde{
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0 0 5px 5px #888;
}


.Circulo{
	float:left;
	height: 42px;
	width: 42px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	border:solid;
}

#tempo {
	margin-left: 70px;
}

.Circulo.tempo {
	background: #00F;
}

.Circulo.true {
	background: #F00;
}

.Circulo1{
	float:left;
	height: 12px;
	width: 32px;
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 10px;
	margin-top: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border:solid;
}