.containerUno{
	float:left;
	background-color: #F8F8FF;
	width: 180px;
	margin: 10px; 
	min-height: 405px;
	padding: 18px;
}

.containerDos{
	float:left;
	background-color: #fff;
	width: 422px;
	margin: 10px;
	min-height: 400px;
	padding-left: 18px;
	padding-right: 18px;
	padding-bottom: 18px;
}

.containerTres{
	float:left;
	background-color: #fff;
	width: 220px;
	margin: 10px;
	min-height: 400px;
	padding-left: 18px;
	padding-right: 18px;
	padding-bottom: 18px;
}

.Alto{
	min-height: 392px;
}

.Alineado{
	text-align: center;
}

.AnchoItem{
	width: 359px;
}

.AnchoItem:hover{
	width: 359px;
	background-color: #F8F8FF;
	border:none;
}

.AnchoItem1{
	width: 172px;
}

.AnchoItem1:hover{
	width: 172px;
	background-color: #F8F8FF;
	border:none;
}

.containerFoto{
	float:left;
	width: 176px;
	height: 176px;
	background-image: url(/img/User.png	);
	background-size: 176px 176px;
}

.containerMiniFoto{
	float:left;
	width: 50px;
	height: 50px;
	background-image: url(/img/MusicIcon.png);
	background-size: 50px 50px;
	margin: 5px;
}

.containerMiniFoto1{
	float:left;
	width: 50px;
	height: 50px;
	background-image: url(/img/MusicIcon1.png);
	background-size: 50px 50px;
	margin: 5px;
}

#listview{
	overflow:scroll;height:390px;width:422px;
	overflow-x:hidden;
}

#listview::-webkit-scrollbar {
    width: 12px;
}
 
#listview::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
 
#listview::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

#listview1{
	overflow:scroll;height:390px;width:220px;
	overflow-x:hidden;
}

#listview1::-webkit-scrollbar {
    width: 12px;
}
 
#listview1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
 
#listview1::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

audio{
	float:left;
	width: 180px;
}

.containerRepro{
	float:left;
	width: 180px;
	margin-top: 80px;
}

.containerEdit.icon-pencil-2.btn.btn-info{
	float:right;
	margin: 5px;
	font-size: 20px;
	text-align: center;
	width: 20px;
}

.containerPlay.icon-play.btn.btn-info{
	float:right;
	margin: 5px;
	font-size: 20px;
	text-align: center;
	width: 20px;
}

.containerEdit.icon-pencil-2.btn.btn-success{
	float:right;
	margin: 5px;
	font-size: 15px;
	text-align: center;
	width: 25px;
	padding: 2px;
}

.containerPlay.icon-play.btn.btn-success{
	float:right;
	margin: 5px;
	font-size: 15px;
	text-align: center;
	width: 25px;
	padding: 2px;
}