.containerUno{
	float:left;
	background-color: #F8F8FF;
	width: 180px;
	margin: 10px; 
	min-height: 405px;
	padding: 18px;
}

.containerDos{
	float:left;
	background-color: #fff;
	width: 422px;
	margin: 10px;
	min-height: 400px;
	padding-left: 18px;
	padding-right: 18px;
	padding-bottom: 18px;
}

.containerTres{
	float:left;
	background-color: #fff;
	width: 220px;
	margin: 10px;
	min-height: 400px;
	padding-left: 18px;
	padding-right: 18px;
	padding-bottom: 18px;
}

.Alto{
	min-height: 392px;
}

.AlineadoBlack{
	text-align: center;
	color: #000;
}

.Alineado{
	text-align: center;
	color: white;
}

.AnchoItem{
	width: 359px;
}

.AnchoItem:hover{
	width: 359px;
	background-color: #F8F8FF;
	border:none;
}

.AnchoItem1{
	width: 172px;
}

.AnchoItem1:hover{
	width: 172px;
	background-color: #F8F8FF;
	border:none;
}

.containerFoto{
	float:left;
	width: 176px;
	height: 176px;
	background-image: url(/img/User.png	);
	background-size: 176px 176px;
}


#listview{
	overflow:scroll;height:390px;width:422px;
	overflow-x:hidden;
}

#listview::-webkit-scrollbar {
    width: 12px;
}
 
#listview::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
 
#listview::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

#listview1{
	overflow:scroll;height:390px;width:220px;
	overflow-x:hidden;
}

#listview1::-webkit-scrollbar {
    width: 12px;
}
 
#listview1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
 
#listview1::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

audio{
	float:left;
	width: 180px;
}

.containerBotones{
	float: left;
	width: 96px;
	height: 75px
}

.containerIcon{
	float:left;
	margin: 5px;
	width: 10px;
}

[class^="icon-"], [class*=" icon-"]{
	margin-left: -3px;
}

.btn.btn-facebook{
	/*background-color:#3b5998;*/
	background-color:#0c4da2;
	border-color:#3b5998;
}
.btn.btn-twitter{
	background-color:#00a0d1;
	border-color:#00a0d1;
}

.containerBotones1{
	float: left;
	width: 65px;
	height: 65px
}

.containerIcon1{
	float:left;
	margin: 2px;
	width: 0px;
}

.containerIcon1 [class^="icon-"], .containerIcon1 [class*=" icon-"]{
	margin-left: -8px !important;
}