#company {
  background: #005580;
  padding: 35px 0;
}

.centered {
	text-align: center;
}

#login {
    margin-top: 20px;
}

#facebooklogin {
	color: #FFF;
	padding-left: 45px;
	background: url("/img/facebook.png") #3b5998 no-repeat;
	background-size: 40px; 
}

#twitterlogin {
    color: #FFF;
	padding-left: 45px;
	background: url("/img/twitter.png") #00a0d1 no-repeat;
	background-size: 40px; 
}

#company h1 {
  text-transform: uppercase;
  font-size: 10em;
  line-height: 2em;
  color: white;
  text-align: center;
}