
#container{
	margin: 5% 5%;
}

#container1{
	float:left;
	height: 400px;
	width: 600px;
	text-align: center;
}

#container2{
	float:left;
	height: 400px;
	width: 400px;
	text-align: center;
}

#blockfoto{
	position: relative;
	margin-left: 100px;
	margin-top: 30px;
}

#foto1:hover{
	float:left;
	height: 100px;
	width: 100px;
	background-image: url(/img/facebook.png	);
	background-color: #e9e9e9;
	background-size: 100px 100px; 
}

#foto1{
	float:left;
	height: 100px;
	width: 100px;
	background-image: url(/img/facebook2.png);
	background-color: #e9e9e9;
	background-size: 100px 100px; 
}

#foto2:hover{
	float:left;
	height: 100px;
	width: 100px;
	background-image: url(/img/twitter.png);
	background-color: #e9e9e9;
	background-size: 100px 100px;
}


#foto2{
	float:left;
	height: 100px;
	width: 100px;
	background-image: url(/img/twitter2.png);
	background-color: #e9e9e9;
	background-size: 100px 100px;
}