
#container{
	margin: 5% 5%;
}

#container1{
	float:left;
	height: 400px;
	width: 600px;
	text-align: center;
}

#container2{
	float:left;
	height: 400px;
	width: 400px;
	text-align: center;
}

#blockfoto{
	position: relative;
	top: 50%;
	left: 50%;
	margin-left: -50px;
	margin-top: -50px;
}

#foto{
	float:left;
	height: 100px;
	width: 100px;
}