%header#nav-bar.container-fluid
  .row-fluid
    .span8
      #header-container
        %a#backbutton.win-backbutton{:href => "#"}
        %h3 BEATS
    #top-info.pull-right
      %a.pull-left{:href => "#"}
        .top-info-block
          %h3 Nombre
          %h4 Apellido
        .top-info-block
          %b.icon-user
      %hr.separator.pull-left
        %a#settings.pull-left{:href => "#"}
          %b.icon-settings
.container.borde
  .containerUno.borde
    .containerFoto
    %h2.Alineado Nombre
  .containerDos
    %h2.label-info.Alineado My Beats
    #listview-grid-demo.listview-container.grid-layout.Alto
      .mediumListIconTextItem.AnchoItem
        .containerMiniFoto
        %p Texto de prueba
      .mediumListIconTextItem.AnchoItem
        .containerMiniFoto
        %p Texto de prueba
      .mediumListIconTextItem.AnchoItem
        .containerMiniFoto
        %p Texto de prueba
      .mediumListIconTextItem.AnchoItem
        .containerMiniFoto
        %p Texto de prueba
      .mediumListIconTextItem.AnchoItem
        .containerMiniFoto
        %p Texto de prueba
      .mediumListIconTextItem.AnchoItem
        .containerMiniFoto
        %p Texto de prueba
  .containerTres
    %h2.label-success.Alineado Best Beats
    #listview-grid-demo.listview-container.grid-layout.Alto
      .mediumListIconTextItem.AnchoItem1
        .containerMiniFoto1
        %p Texto de prueba
      .mediumListIconTextItem.AnchoItem1
        .containerMiniFoto1
        %p Texto de prueba
      .mediumListIconTextItem.AnchoItem1
        .containerMiniFoto1
        %p Texto de prueba
