%header#nav-bar.container-fluid
  .row-fluid
    .span8
      #header-container
        %a#backbutton.win-backbutton{:href => "#"}
        %h3 BEATS
    #top-info.pull-right
      %a.pull-left{:href => "#"}
        .top-info-block
          %h3 Nombre
          %h4 Apellido
        .top-info-block
          %b.icon-user
      %hr.separator.pull-left
        %a#settings.pull-left{:href => "#"}
          %b.icon-settings
.container.borde
  .containerUno
    .containerFoto
    %h2.Alineado Nombre
    .containerRepro
      %h2.Alineado Title
      %audio{:controls => "controls"}
        %source{:src => "", :type => "audio/ogg"}/
        %source{:src => "", :type => "audio/mpeg"}/
        Your browser does not support the audio element.
  .containerDos
    %h2.label-info.Alineado My Beats
    #listview.grid-layout.Alto
      .mediumListIconTextItem.AnchoItem
        .containerBotones
          .containerIcon.btn.btn-success
            .icon-play
          .containerIcon.btn.btn-warning
            .icon-pencil-2
          .containerIcon.btn.btn-facebook
            .icon-facebook-2
          .containerIcon.btn.btn-twitter
            .icon-twitter-2
        %p Texto de prueba
      .mediumListIconTextItem.AnchoItem
        .containerBotones
          .containerIcon.btn.btn-success
            .icon-play
          .containerIcon.btn.btn-warning
            .icon-pencil-2
          .containerIcon.btn.btn-facebook
            .icon-facebook-2
          .containerIcon.btn.btn-twitter
            .icon-twitter-2
        %p Texto de prueba
      .mediumListIconTextItem.AnchoItem
        .containerBotones
          .containerIcon.btn.btn-success
            .icon-play
          .containerIcon.btn.btn-warning
            .icon-pencil-2
          .containerIcon.btn.btn-facebook
            .icon-facebook-2
          .containerIcon.btn.btn-twitter
            .icon-twitter-2
        %p Texto de prueba
      .mediumListIconTextItem.AnchoItem
        .containerBotones
          .containerIcon.btn.btn-success
            .icon-play
          .containerIcon.btn.btn-warning
            .icon-pencil-2
          .containerIcon.btn.btn-facebook
            .icon-facebook-2
          .containerIcon.btn.btn-twitter
            .icon-twitter-2
        %p Texto de prueba
      .mediumListIconTextItem.AnchoItem
        .containerBotones
          .containerIcon.btn.btn-success
            .icon-play
          .containerIcon.btn.btn-warning
            .icon-pencil-2
          .containerIcon.btn.btn-facebook
            .icon-facebook-2
          .containerIcon.btn.btn-twitter
            .icon-twitter-2
        %p Texto de prueba
      .mediumListIconTextItem.AnchoItem
        .containerBotones
          .containerIcon.btn.btn-success
            .icon-play
          .containerIcon.btn.btn-warning
            .icon-pencil-2
          .containerIcon.btn.btn-facebook
            .icon-facebook-2
          .containerIcon.btn.btn-twitter
            .icon-twitter-2
        %p Texto de prueba
  .containerTres
    %h2.label-success.Alineado Best Beats
    #listview1.grid-layout.Alto
      .mediumListIconTextItem.AnchoItem1
        .containerBotones1
          .containerIcon1.btn.btn-success
            .icon-play
          .containerIcon1.btn.btn-warning
            .icon-pencil-2
          .containerIcon1.btn.btn-facebook
            .icon-facebook-2
          .containerIcon1.btn.btn-twitter
            .icon-twitter-2
        %p Texto de prueba
      .mediumListIconTextItem.AnchoItem1
        .containerBotones1
          .containerIcon1.btn.btn-success
            .icon-play
          .containerIcon1.btn.btn-warning
            .icon-pencil-2
          .containerIcon1.btn.btn-facebook
            .icon-facebook-2
          .containerIcon1.btn.btn-twitter
            .icon-twitter-2
        %p Texto de prueba
      .mediumListIconTextItem.AnchoItem1
        .containerBotones1
          .containerIcon1.btn.btn-success
            .icon-play
          .containerIcon1.btn.btn-warning
            .icon-pencil-2
          .containerIcon1.btn.btn-facebook
            .icon-facebook-2
          .containerIcon1.btn.btn-twitter
            .icon-twitter-2
        %p Texto de prueba
