%header#nav-bar.container-fluid
  .row-fluid
    .span8
      #header-container
        %a#backbutton.win-backbutton{:href => "#"}
        %h3
          #{@auth.inspect}
    #top-info.pull-right
      %a.pull-left{:href => "#"}
        .top-info-block
          %h3 Nombre
          %h4 Apellido
        .top-info-block
          %b.icon-user
      %hr.separator.pull-left
        %a#settings.pull-left{:href => "#"}
          %b.icon-settings
.container.borde
  .containerUno
    .containerFoto
    %h2.Alineado Nombre
    .containerRepro
      %h2.Alineado Title
      %audio{:controls => "controls"}
        %source{:src => "", :type => "audio/ogg"}/
        %source{:src => "", :type => "audio/mpeg"}/
        Your browser does not support the audio element.
  .containerDos
    %h2.label-info.Alineado My Beats
    #listview.grid-layout.Alto
      .mediumListIconTextItem.AnchoItem
        .containerMiniFoto
        %p Texto de prueba
        .containerEdit.icon-pencil-2.btn.btn-info
        .containerPlay.icon-play.btn.btn-info
      .mediumListIconTextItem.AnchoItem
        .containerMiniFoto
        %p Texto de prueba
        .containerEdit.icon-pencil-2.btn.btn-info
        .containerPlay.icon-play.btn.btn-info
      .mediumListIconTextItem.AnchoItem
        .containerMiniFoto
        %p Texto de prueba
        .containerEdit.icon-pencil-2.btn.btn-info
        .containerPlay.icon-play.btn.btn-info
      .mediumListIconTextItem.AnchoItem
        .containerMiniFoto
        %p Texto de prueba
        .containerEdit.icon-pencil-2.btn.btn-info
        .containerPlay.icon-play.btn.btn-info
      .mediumListIconTextItem.AnchoItem
        .containerMiniFoto
        %p Texto de prueba
        .containerEdit.icon-pencil-2.btn.btn-info
        .containerPlay.icon-play.btn.btn-info
      .mediumListIconTextItem.AnchoItem
        .containerMiniFoto
        %p Texto de prueba
        .containerEdit.icon-pencil-2.btn.btn-info
        .containerPlay.icon-play.btn.btn-info
  .containerTres
    %h2.label-success.Alineado Best Beats
    #listview1.grid-layout.Alto
      .mediumListIconTextItem.AnchoItem1
        .containerMiniFoto1
        %p Texto de prueba
        .containerEdit.icon-pencil-2.btn.btn-success
        .containerPlay.icon-play.btn.btn-success
      .mediumListIconTextItem.AnchoItem1
        .containerMiniFoto1
        %p Texto de prueba
        .containerEdit.icon-pencil-2.btn.btn-success
        .containerPlay.icon-play.btn.btn-success
      .mediumListIconTextItem.AnchoItem1
        .containerMiniFoto1
        %p Texto de prueba
        .containerEdit.icon-pencil-2.btn.btn-success
        .containerPlay.icon-play.btn.btn-success
