.group
  =f.label :title
  =f.error_message_on :title
  =f.text_field :title, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :valoration
  =f.error_message_on :valoration
  =f.text_field :valoration, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :music
  =f.error_message_on :music
  =f.text_field :music, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :user_id
  =f.error_message_on :user_id
  =f.text_field :user_id, :class => :text_field
  %span.description Ex: a simple text


.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:songs, :index)}';return false", :class => :button
