%header#nav-bar.container-fluid
  .row-fluid
    .span8
      #header-container
        %a#backbutton.win-backbutton{:href => "#"}
        %h3 BEATS
    #top-info.pull-right
      %a.pull-left{:href => "#"}
        .top-info-block
          %h3 Nombre
          %h4 Apellido
        .top-info-block
          %b.icon-user
      %hr.separator.pull-left
        %a#settings.pull-left{:href => "#"}
          %b.icon-settings
#beats.container