%header
	#container.row
		#container1.span5.borde
			%image{:src => "/img/BeatsByDreCampusHeat.jpg"}
		#container2.span5
			%h1 Inicia sesion ya!
			%h2 Elige tu cuenta favorita
			#blockfoto
				#foto1
				#foto2