.row-fluid#header
  .logo.span7
  .navbar
    .navbar-inner
      %a.brand BEATS
      %ul.nav
        %li.active
          %a Home
        %li
          %a About
        %li
          %a Machetazo

.row-fluid#company
  .span12
    %h1 //Beats
    %p.centered
      %a.btn.btn-large{:href => "#"} Start me app

.row-fluid#login
  .span12
    %p.centered
      %a.btn.btn-large#facebooklogin{:href => "#"} Log in with facebook
      %a.btn.btn-large#twitterlogin{:href => "#"} Log in with twitter


