%header
	#container.row
		#container1.span5.borde
			%image{:src => "/img/BeatsByDreCampusHeat.jpg"}
		#container2.span5.borde
			%h2 Inicia sesion ya!
			%h4 Elige tu cuenta favorita
			#blockfoto
				#foto
					%a
						%image{:src => "/img/facebook2.jpg"}
				#foto
					%a
						%image{:src => "/img/twitter2.jpg"}